<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-list">
      <li class= "sidebar-item">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %>
      </li>
    </ul>
    <br>
    <%= link_to "My Profile", user_path(current_user.id), class: "btn btn-default widel" %>
  </div>
  <div class="col-md-7 text-center">
    <div class="panel panel-default">
      <div class="panel-heading">My Profile</div>
      <div class="panel-body">
        <div class="container">
          <h2>Edit <%= resource_name.to_s.humanize %></h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render 'shared/devise_errors' %>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <span class= "btn btn-default btn-file">
                    Upload my picture
                    <%= f.file_field :avatar %>
                  </span>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number" %>
            </div>

            <div class="form-group">
              <%= f.text_area :description, rows: 5, col: 25, class: "form-control", placeholder: "Description" %>
            </div>

            <div class="form-group">
              <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "Fullname" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>(leave blank if you don't want to change it)
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Email" %>
            </div>

            <div class="actions">
              <%= f.submit "Update", class: "btn btn-default" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
