<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devise_errors' %>

      <div class="form-group">

        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">

        <%= f.text_field :fullname, autofocus: true, class: "form-control", placeholder: "Fullname" %>
      </div>

      <div class="form-group">

        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-default" %>
      </div>
    <% end %>


  </div>
</div>
