<div class="row">
  <div class="col-md-3">
    <%= image_tag avatar_url(@user), class: "avatar-full" %>

    <% if current_user != @user %>
     <div class="row-space-2">
         <%= link_to "Envoyer un message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
     </div>
    <% end %>

    <div class="panel-heading">vérification</div>
    <div class="panel-default">
      <div class="panel-body">
        Email: <%= @user.email %> <br>
        Tel: <%= @user.phone_number %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h2><%= @user.fullname %></h2>
      <div class="description row-space-3">
        <%= @user.description %>
      </div>
      <h4>Listings (<%= @rooms.length %>)</h4><br>
      <div class="row">
        <% @rooms.each do |room| %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading preview">
                <%= image_tag room.photos[0].image.url(:medium)if room.photos.length > 0 %>

              </div>
              <div class="panel-body">
                <%= link_to room.listing_name, room %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <h4>Evaluations</h4>
      <% @rooms.each do |room| %>
        <% if !room.reviews.blank? %>
          <% room.reviews.each do |review| %>
            <div class="row">
              <div class="col-md-2 text-center">
                <%= image_tag avatar_url(review.user), class: "img-circle avatar-medium" %>
                <%= review.user.fullname %>
              </div>
              <div class="col-md-10">
                <%= link_to room.listing_name, room %><br>
                <%= review.comment %><br>
                <%= review.created_at.try(:strftime, '%d.%m.%y') %>
              </div>
            </div>

          <% end %>
      <% end %>
      <% end %>
  </div>
</div>
