<div id="wrapper">
    <div id="sidebar">
        <div id="widget">
            <script>
                 function initMap() {
                   <% if @arrRooms.length > 0 %>
                       var uluru = {lat: <%= @arrRooms[0].latitude %>, lng: <%= @arrRooms[0].longitude %>};
                       var map = new google.maps.Map(document.getElementById('widget'), {
                         zoom: 13,
                         center: uluru
                       });
                   <% else %>
                       var uluru = {lat: 48.866667, lng: 2.333333};
                       var map = new google.maps.Map(document.getElementById('widget'), {
                         zoom: 4,
                         center: uluru
                       });
                   <% end %>

                   <% @arrRooms.each do |room| %>
                   var marker = new google.maps.Marker({
                     position: {lat: <%= room.latitude %>, lng: <%= room.longitude %>},
                     map: map,
                     title: "<%= room.listing_name %>"
                   });
                   <% end %>
                 }
               </script>
               <script async defer
               src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiW9aBJM1x7XqmZiWKtADBfVjSXJmfV_k&callback=initMap">
               </script>
       </div>
        </div>
    </div>
    <div id="article">
        <div class="row">
            <div class="col-md-12">
                <%= search_form_for @search, url: search_path do |f| %>
                    <div class="row">
                        <div class="col-md-3">
                            <%= text_field_tag :start_date, params[:start_date], placeholder:"Start", class:"form-control" %>
                        </div>
                        <div class="col-md-3">
                            <%= text_field_tag :end_date, params[:end_date], placeholder:"End", class:"form-control" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :price_gteq, placeholder: "Budget min", class: "form-control" %>
                        </div>
                        <div class="col-md-3">
                            <%= f.text_field :price_lteq, placeholder: "Budget max", class: "form-control" %>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <%= check_box_tag "q[room_type_eq_any][]","Entire place" %> Entire place
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[room_type_eq_any][]","Private room" %> Private room
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[room_type_eq_any][]","Shared room" %> Shared room
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4 select">
                            <div class="form-group">
                                <label> Guests number ?</label>
                                <%= f.select :accomodate, [["1 guest",1], ["2 guests",2],
                                ["3 guests", 3], ["4 guests",4], ["5 guests",5], ["6 guests",6]],
                                prompt: "Select it...", class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-md-4 select">
                            <div class="form-group">
                                <label>Room(s)</label>
                                <%= f.select :bed_room, [["1 room",1], ["2 rooms",2],
                                ["3 rooms", 3], ["4 rooms or more",4]],
                                prompt: "Select a number", class: "form-control" %>
                            </div>
                        </div>

                        <div class="col-md-4 select">
                            <div class="form-group">
                                <label>Bath room(s)</label>
                                <%= f.select :bath_room, [["1 Bath room",1], ["2 Bath rooms",2],
                                ["3 Bath rooms", 3], ["4  Bath rooms or more",4]],
                                prompt: "Select a number", class: "form-control" %>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_wifi_eq]", true %> Wifi
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_tv_eq]", true %> TV
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_closet_eq]", true %> Closet
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_shampoo_eq]", true %> Shampoo
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_kitchen_eq]", true %> Kitchen
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_breakfast_eq]", true %> Breakfast
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_heating_eq]", true %> Heating
                        </div>
                        <div class="col-md-4">
                            <%= check_box_tag "q[is_air_eq]", true %> A/C
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <%= f.submit "Search", class:"btn btn-primary" %>
                    </div>


                <% end %>

                <hr>



                <div class="row">
                    <% if @arrRooms.empty? %>
                        No listings for this search
                    <% else %>
                        <% @arrRooms.each do |room| %>
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading preview">
                                    <%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
                                </div>
                                <div class="panel-body">
                                    <%= image_tag avatar_url(room.user), class:"img-circle avatar-small" %>
                                    <%= link_to room.listing_name, room %>
                                </div>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $('#start_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        var newdate = new Date($("#start_date").datepicker("getDate"));
                        newdate.setDate(newdate.getDate() + 1);
                        $('#end_date').datepicker("option","minDate", newdate);
                    }
        })

        $('#end_date').datepicker({
                    dateFormat: 'dd-mm-yy',
                    monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin','Juillet','Août',
                    'Septembre','Octobre','Novembre','Décembre'],
                    dayNamesMin: ['D','L','M','M','J','V','S'],
                    minDate: 0,
                    maxDate: '3m',
                    onSelect: function(selected) {
                        $('#start_date').datepicker("option", "maxDate", selected);
                    }
        });
    })
</script>
<script>

 $(document).ready(function(){

           $("#sidebar").stick_in_parent({offset_top: 20});

 });

 </script>
