<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">


    <h2>Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %> Remember me
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-default" %>

        <br>
        <br>
        <%= link_to "You can't connect?", new_user_password_path, class: "btn btn-primary"%>
      </div>
    <% end %>

    </div>
</div>
