<div class="panel panel-default">
    <div class="panel-heading">
        Become a Host
    </div>
    <div class="panel-body">
        <div class="container">

            <%= form_for @room, html: {multipart: true} do |f| %>
            <%= render 'shared/errors' %>

            <div class="row">
                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Home Type</label>
                            <%= f.select :home_type, [["House","House"], ["Apartement","Apartement"],
                            ["Bed & Breakfast", "Bed & Breakfast"]], id: "home_type",
                            prompt: "Select it...", class: "form-control" %>
                        </div>
                    </div>

                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Room Type</label>
                            <%= f.select :room_type, [["Entire place","Entire place"], ["Private room","Private room"],
                            ["Shared room","Shared room"]],
                            prompt: "Select it...", class: "form-control" %>
                        </div>
                    </div>

                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label> Guests number ?</label>
                            <%= f.select :accomodate, [["1 guest",1], ["2 guests",2],
                            ["3 guests", 3], ["4 guests",4], ["5 guests",5], ["6 guests",6]],
                            prompt: "Select it...", class: "form-control" %>
                        </div>
                    </div>

                </div>

            <div class="row">
                    <div class="col-md-4 select">
                    <div class="form-group">
                        <label>Room(s)</label>
                        <%= f.select :bed_room, [["1 room",1], ["2 rooms",2],
                        ["3 rooms", 3], ["4 rooms or more",4]],
                        prompt: "Select a number", class: "form-control" %>
                    </div>
                    </div>

                    <div class="col-md-4 select">
                        <div class="form-group">
                            <label>Bath room(s)</label>
                            <%= f.select :bath_room, [["1 Bath room",1], ["2 Bath rooms",2],
                            ["3 Bath rooms", 3], ["4  Bath rooms or more",4]],
                            prompt: "Select a number", class: "form-control" %>
                        </div>
                    </div>
                </div>

            <div class="row">
                    <div class="form-group">
                        <label>Give a name to your listing</label>
                        <%= f.text_field :listing_name, placeholder: "Title", class: "form-control" %>
                    </div>
                </div>

            <div class="row">
                    <div class="form-group">
                        <label>Summary</label>
                        <%= f.text_area :summary, rows:4, placeholder: "Describe your house",
                        class: "form-control" %>
                    </div>
                </div>

            <div class="row">
                    <div class="form-group">
                        <label>Address</label>
                        <%= f.text_field :address, placeholder: "What is your address", class: "form-control" %>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <span class="btn btn-default btn-file">
                            <i class = "fa fa-cloud-upload fa-lg"></i> Update your pictures !
                            <%= file_field_tag "images[]", type: :file, multiple: true %>
                        </span>
                    </div>
                </div>
            </div>

            <div id="photos"><%= render 'photos/list' %></div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <%= f.check_box :is_wifi %> Wifi
                    </div>

                    <div class="form-group">
                        <%= f.check_box :is_tv %> TV
                    </div>

                    <div class="form-group">
                        <%= f.check_box :is_closet %> Closet
                    </div>

                    <div class="form-group">
                        <%= f.check_box :is_shampoo %> Shampo
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <%= f.check_box :is_kitchen %> Kitchen
                    </div>

                    <div class="form-group">
                        <%= f.check_box :is_breakfast %> Breakfast
                    </div>

                    <div class="form-group">
                        <%= f.check_box :is_heating %> Heating
                    </div>

                    <div class="form-group">
                        <%= f.check_box :is_air %> Air
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Price per night</label>
                        <div class="input-group">
                                <%= f.text_field :price, placeholder: "ex: 45€", class: "form-control" %>
                                <div class="input-group-addon">€</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <%= f.check_box :active %> Active
                </div>
            </div>

            <div class="actions">
                      <%= f.submit "I validate my listing", class: "btn btn-primary"%>
                    <% if controller.action_name == 'edit' && Rails.env.development? %>
                      <br /><br /><br />
                      <%= link_to "I delete my listing", room_path(@room), method: :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
            </div>
            <% end %>

        </div>
    </div>
</div>
