<div class="panel panel-default">
    <div class="panel-body">

        <!-- Photo principale de l'annonce -->
        <div class="row">
            <div class="col-md-12">
                <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length >0 %>
            </div>
        </div>

        <br>

        <!-- Informations principales -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <%= image_tag avatar_url(@room.user), class:"img-circle avatar-large" %>
                        <br>
                        <br>
                        <%= @room.user.fullname %>
                    </div>
                    <div class="col-md-9">
                        <h4><%= @room.listing_name %></h4>
                        <%= @room.address %><a href="#average_rating", class="sidebar-link"><span id="average_rating_header"></span> <%= @reviews.count %></a>
                        <div class="row text-center row-space-1">
                            <div class="col-sm-3">
                                <i class="fa fa-home fa-2x"></i>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-users fa-2x"></i>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-bed fa-2x"></i>
                            </div>
                            <div class="col-sm-3">
                                <i class="fa fa-bath fa-2x"></i>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-sm-3">
                                <%= @room.home_type %>
                            </div>
                            <div class="col-sm-3">
                                <%= @room.accomodate %> <%= @room.accomodate> 1 ? "Travelers" : "Traveler" %>
                            </div>
                            <div class="col-sm-3">
                                <%= @room.bed_room %> <%= @room.bed_room > 1 ? "Beds" : "Bed" %>
                            </div>
                            <div class="col-sm-3">
                                <%= @room.bath_room %> <%= @room.bath_room > 1 ? "Bathrooms" : "Bathroom" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- Formulaire de réservation -->
                <%= render 'reservations/form' %>
            </div>
        </div>

        <!-- Description -->
        <div class="row">
            <div class="col-md-12">
                <h2>About this appartment</h2>
                <p><%= @room.summary %></p>
            </div>
        </div>

        <!-- Equipements -->
        <div class="row">
            <div class="col-md-2">
                <p>Equipments</p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="equipments">
                            <li class="<%= 'text-line-through' if !@room.is_wifi %>">Wifi</li>
                            <li class="<%= 'text-line-through' if !@room.is_tv %>">TV</li>
                            <li class="<%= 'text-line-through' if !@room.is_closet %>">Closet</li>
                            <li class="<%= 'text-line-through' if !@room.is_shampoo %>">Shampoo</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="equipments">
                            <li class="<%= 'text-line-through' if !@room.is_kitchen %>">Kitchen</li>
                            <li class="<%= 'text-line-through' if !@room.is_breakfast %>">Breakfast</li>
                            <li class="<%= 'text-line-through' if !@room.is_heating %>">Heating</li>
                            <li class="<%= 'text-line-through' if !@room.is_air %>">A/R</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                    <% if @photos %>
                        <% @photos.each do |photo| %>
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="<%= photo.id %>" class="active"></li>
                          </ol>
                        <% end %>
                    <% end %>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <% if @photos %>
                    <% @photos.each do |photo| %>
                    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
                      <%= image_tag photo.image.url() %>
                    </div>
                    <% end %>
                    <% end %>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Précédent</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Suivant</span>
                  </a>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <h3><%= pluralize(@reviews.count, "Comment")%> <span id= "average_rating"></span>(<%= @reviews.count %>)</h3>
            <div class="container">
                <div>
                    <%= render 'reviews/form' if @booked && !@hasReview %>
                </div>
                <div>
                    <%= render 'reviews/list' %>
                </div>
            </div>
          </div>
        </div>
        <!-- Google maps -->
        <div class="row">
            <div class="col-md-12">
                <div id="map"></div>

                <style>
                   #map {
                    height: 400px;
                    width: 100%;
                   }
                </style>

                <script>
                  function initMap() {
                    var uluru = {lat: <%= @room.latitude %>, lng: <%= @room.longitude %>};
                    var map = new google.maps.Map(document.getElementById('map'), {
                      zoom: 15,
                      center: uluru
                    });
                    var marker = new google.maps.Marker({
                      position: uluru,
                      map: map
                    });
                  }
                </script>
                <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiW9aBJM1x7XqmZiWKtADBfVjSXJmfV_k&callback=initMap">
                </script>
            </div>
        </div>
        <h3>Close to</h3>
        <div class="row">
            <% for room in @room.nearbys(2).limit(3) %>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading preview">
                        <%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
                    </div>
                    <div class="panel-body">
                        <%= link_to room.listing_name, room %> <br>
                        (from <%= (room.distance*1.6).round(2) %> KM)
                    </div>
                </div>
            </div>
            <% end %>
        </div>
</div>
<script>
  $('#average_rating').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @room.average_rating %>
  });
</script>
<script>
  $('#average_rating_header').raty({
    path: '/assets',
    readOnly: true,
    score: <%= @room.average_rating %>
  });
</script>
