<%= form_for([@room, @room.reviews.new])  do |f| %>
  <div id="user_stars"></div>
  <%= f.text_area :comment, row: 3, class: "form-control" %>
  <%= f.hidden_field :room_id, value: @room.id %>
  <div class="actions">
    <%= f.submit "Review", class: "btn btn-default" %>
  </div>
<% end %>

<script>
  $('#user_stars').raty({
    path: '/assets',
    scoreName: 'review[star]',
    score: 1
  });
</script>
