<% if @reviews.count == 0 %>
  <div class="text-center">
    <h4>No comments</h4>

<% else %>
  <% @reviews.order("id DESC").each do |r| %>
    <hr>
    <div class="row">
      <div class="col-md-1">
        <%= image_tag avatar_url(r.user), class: "img-circle avatar-medium" %>
      </div>
      <div class="col-md-11">
        <strong><%= r.user.fullname %><div id= "stars_<%= r.id %>"></div></strong>
        <span class="pull-right">
          <%= link_to "Delete comment", [@room, r], method: :delete, data: { confirm: "Are you sure? " } if current_user == r.user %>
        </span>
      </div>
      <div><%= r.created_at.try(:strftime, '%d.%m.%y') %></div>
      <div><%= r.comment %></div>
    </div>
  </div>
    <script>
      $('#stars_<%= r.id %>').raty({
        path: '/assets',
        readOnly: true,
        score: <%= r.star %>
      });
    </script>

  <% end %>

<% end %>
