<nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Airbnb", root_path, class: "navbar-brand navbar-left"%>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do %>
            <div class="search">
              <span class="fa fa-search"></span>
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            </div>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to new_room_path do %>
                <i class="fa fa-home fa-lg">Become a host</i>
              <% end %>
            </li>
            <li>
              <%= link_to conversations_path do %>
                Message
              <% end %>
            </li>
            <% if user_signed_in? %>

                 <li class="dropdown">
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag avatar_url(current_user), class: "img-circle avatar-small" %><%= current_user.fullname %> <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><%= link_to "My Travels", your_trips_path %></li>
                     <li><%= link_to "My Reservations", your_reservations_path %></li>
                     <li><%= link_to "My Listings", rooms_path %></li>
                     <li role="separator" class="divider"></li>
                     <li><%= link_to "My Profile", users_show_path %></li>
                     <li><%= link_to "Edit my Profile", edit_user_registration_path %></li>
                     <li role="separator" class="divider"></li>
                     <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
                   </ul>
                 </li>
            <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
