<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <%= favicon_link_tag '/assets/images/favicon.ico' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>

      <%= render 'shared/message' %>

      <div class="container">
        <%= yield %>
      </div>
  </body>
</html>
